.error-offer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .error-title {
        color: #fff;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: #eb8c19;
    }
}