.header {
    gap: 20px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #fff;
}

@media screen and (max-width: 590px) {
    .header {
        left: 0;
        z-index: 1;
        bottom: 0px;
        padding: 20px;
        flex-wrap: wrap;
        position: absolute;
        justify-content: center;

        .logo {
            order: 2;
        }

        .search {
            order: 1;
        }

        .button {
            order: 3;
        }

        .user {
            order: 4;
        }
    }

    .container {
        padding: 20px 20px 165px 20px !important;
    }
}