.my-poems-page {
    gap: 20px;
    height: 100%;
    display: flex;

    .poems {
        flex-basis: 70%;

        .box {
            gap: 20px;
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;

            .title {
                color: #fff;
                text-align: center;
            }
        }

        .list {
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
        }
    }

    .info-offer {
        display: flex;
        flex-basis: 30%;
        justify-content: center;

        .info {
            width: 28%;
            gap: 20px;
            height: 88vh;
            padding: 20px;
            display: flex;
            position: fixed;
            border-radius: 25px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;

            .user-icon {
                width: 60px;
                height: 60px;
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .my-poems-page {
        flex-direction: column-reverse;

        .info-offer {
            .info {
                width: 100%;
                position: static;
            }
        }
    }
}